.alerta {
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    text-transform: uppercase;
    margin: .5rem 0;
    color: #fff;
    font-weight: bold;
    &:last-of-type {
        margin-bottom: 0;
    }
    &.error {
        background-color: red;
    }
    &.exito {
        background-color: green;
    }
}